.MemberList {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-right: 10rem;
}

.DivisionPage {
    padding-top: 3rem;
}

@media screen and (max-width: 1280px) {
    .MemberList {
        margin-left: 0;
        margin-right: 0;
    }
}
