.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    background: linear-gradient(180deg, #cfe7e7 0%, #ffefdc 100%);
    min-height: 100vh;
}

.logo {
    max-width: 15rem;
    margin-top: 20vh;
}

.headerTitle {
    margin-top: 4rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #333333;
}

.tagline {
    margin-top: 0.75rem;
    font-family: Cormorant, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1.8rem;
    text-align: center;
}

@media only screen and (max-width: 415px) {
    .header {
        height: 18rem;
        width: auto;
        background: linear-gradient(180deg, #cfe7e7 0%, #ffefdc 100%);
    }

    .logo {
        max-width: 9rem;
        margin-top: 0.2rem;
        margin-bottom: 0;
    }

    .headerTitle {
        margin-top: 0;
        margin-bottom: -0.2rem;
        font-size: 1.4rem;
    }

    .tagline {
        margin-top: -0.2rem;
        margin-bottom: 2rem;
        font-size: 1.2rem;
        text-align: center;
        color: #000000;
    }
}

.HeaderMobile {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    color: #333333;
    background: #FFEFDC;
    height: 3rem;
    display: flex;
    align-items: center;
    place-content: center;
}
