.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #FFEFDC;
    width: 100%;
}

p {
    padding-top: 2rem;
    padding-bottom: 2rem;
}