.HeaderWrapper {
    text-align: left;
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 2rem;
    min-width: 0;
    display: flex;
    align-items: flex-start;
}

.HeaderWrapperMobile {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.HeaderBackgroundMobile {
    height: 3rem;
}

.HeaderText {
    padding-left: 0.75rem;
}

.HeaderTextMobile {
    padding-top: 4%;
}
