.CoreDivision {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 100%;
    justify-content: center;
}

.Left {
    align-self: start;
    text-align: left;
}

.Right {
    align-self: end;
    text-align: right;
}

.CoreDivisionMember {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.CoreDivisionHeader {
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width: 1280px) {
    .CoreDivision {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .CoreDivisionHeader {
        font-size: 1.25rem;
        font-weight: bold;
    }
}
