.Division {
    display: flex;
    gap: 4rem;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

.Person {
    display: flex;
    margin-top: 4rem;
    gap: 3rem;
}

.HeaderDivision {
    font-size: 1.5rem;
    font-weight: bold;
}

.Program {
    margin-top: 2rem;
}

@media screen and (max-width: 1280px) {
    .Division {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .HeaderDivision {
        font-size: 1.2rem;
        font-weight: bold;
    }
}
