.HomePage {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
    font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 767px) {
    .HomePage {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        font-size: 0.75rem;
    }
}
